<div class="container">
  <h1>New game</h1>
  <div class="d-flex justify-content-center botao">
    <% @letters.each do |letter| %>
      <div id="btn" class="btn btn-primary d-flex m-2 btn-custom align-items-center justify-content-center">
        <%= letter.capitalize  %>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center botao">
    <form action="score" method="post" data-turbo="false" class="row row-cols-lg-auto g-3 align-items-center">
      <div class="mb-3">
        <label for="inputQuestion" class="form-label">What is the longest word you can find?</label>
        <input type="text" class="form-control" name="word" id="inputQuestion">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :letters, @letters %>
      </div>
      <button type="submit" class="btn btn-primary">Play</button>
    </form>
  </div>
</div>
